<!-- src/app/app.component.html -->
<div class="container">
  <h1 style="color: #0b0be1;
    ">{{ title }}</h1>

  <div class="filters">
    <div class="filter">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" class="input">
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate" class="input">
      <button (click)="applyDateFilter()" class="btn btn-filter">Apply Date Filter</button>
    </div>

    <div class="filter">
      <label for="minIntensity">Min Intensity:</label>
      <input type="number" id="minIntensity" [(ngModel)]="minIntensity" class="input">
      <label for="maxIntensity">Max Intensity:</label>
      <input type="number" id="maxIntensity" [(ngModel)]="maxIntensity" class="input">
      <button (click)="applyIntensityFilter()" class="btn btn-filter">Apply Intensity Filter</button>
    </div>
  </div>

  <app-heatmap [eventData]="eventData"></app-heatmap>
  <div class="controls">
    <button (click)="addEvent()" class="btn">Add Event</button>
    <button (click)="clearEvents()" class="btn btn-clear">Clear Events</button>
  </div>

</div>
