/* src/app/app.component.css */
body {
  background-color: #f0f2f5; /* Light gray background */
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color:#ede6e633; /* White background for the container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.controls .btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 10px; /* Adjusted for better spacing */
  cursor: pointer;
  border-radius: 30px; /* Rounded corners */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
}

.controls .btn-clear {
  background-color: #f44336;
}

.controls .btn:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Shadow on hover */
}

.controls .btn-clear:hover {
  background-color: #d32f2f;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa; /* Light background for filters */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter h2 {
  color: #333;
  margin-bottom: 10px;
}

.filter label {
  margin-top: 10px;
  color: #555;
}

.filter .input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter .btn {
  margin-top: 10px;
}

.filter .btn-filter {
  background-color: #bfdaef;
    border: 1.3px solid #c9dbed;
    border-radius: 10px;
    color: #727277;
    font-size: 12px;
    padding: 4px 6px;
   
}

.filter .btn-filter:hover {
  background-color: #1ee5a3;
  font-weight: bold;
  cursor: pointer;
}

.heatmap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.heatmap-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hour-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.heatmap-cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.legend-container {
  margin: 20px 0;
  text-align: center;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.legend-step {
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-right: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.legend-description {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}
